python-dotenv
langchain
langchain-community
langchainhub
langchain-openai
beautifulsoup4
pandas
faiss-cpu
chromadb
jq
PyPDF2
nltk 
sentence-transformers
Flask
youtube_search
youtube_transcript_api
flask-cors